<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Interactive Music Theory</title>
  </head>
  <body>
    <main class="prose-lg max-w-2xl m-auto p-4 mt-4">
      <slot />
    </main>
  </body>
</html>
